<launch>
  <arg name="com_port" default="/dev/ttyUSB0"/>
  <arg name="preview" default="false"/>
  <arg name="publish_tf" default="true"/>    
  <arg name="depth_width"         default="1280"/>
  <arg name="depth_height"        default="720"/>
  <arg name="enable_depth"        default="true"/>
  <arg name="color_width"         default="1280"/>
  <arg name="color_height"        default="720"/>
  <arg name="enable_color"        default="true"/>
  <arg name="depth_fps" default="30"/>
  <arg name="color_fps" default="30"/>
  <arg name="frame_id" default="base_link"/>
  <arg name="rviz_cfg"                default="$(find project)/rviz/viz.rviz" />

  <arg name="stereo_namespace"        default="/stereo_camera"/>
  <arg name="left_image_topic"        default="/camera/infra1/image_rect_raw" />
  <arg name="right_image_topic"       default="/camera/infra2/image_rect_raw" />      <!-- using grayscale image for efficiency -->
  <arg name="left_camera_info_topic"  default="/camera/infra1/camera_info" />
  <arg name="right_camera_info_topic" default="/camera/infra2/camera_info" />

  <arg name="rtabmap_args" default="--delete_db_on_start --Optimizer/GravitySigma 0.3"/>

  <arg name="visual_odometry"         default="false"/>          <!-- Generate visual odometry -->
  <arg name="odom_topic"              default="/odom"/>         <!-- Odometry topic used if visual_odometry is false -->
  <arg name="odom_frame_id"           default="/odom"/>              <!-- If set, TF is used to get odometry instead of the topic -->

  <!-- rosaria -->
  <include file="$(find project)/launch/robot.launch">
    <arg name="com_port" value="$(arg com_port)"/>
    <arg name="preview" value="$(arg preview)"/>
  </include>

  <!-- Launch realsense2_camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
    <arg name="unite_imu_method" value="linear_interpolation"/>
    <arg name="enable_gyro" value="true"/>
    <arg name="enable_accel" value="true"/>
    <arg name="publish_tf" value="$(arg publish_tf)"/>
    <arg name="depth_width"         value="$(arg depth_width)"/>
    <arg name="depth_height"        value="$(arg depth_height)"/>
    <arg name="enable_depth"        value="$(arg enable_depth)"/>
    <arg name="color_width"         value="$(arg color_width)"/>
    <arg name="color_height"        value="$(arg color_height)"/>
    <arg name="enable_color"        value="$(arg enable_color)"/>
    <arg name="depth_fps" value="$(arg depth_fps)"/>
    <arg name="color_fps" value="$(arg color_fps)"/>

    <arg name="enable_infra1"            value="true"/>
    <arg name="enable_infra2"            value="true"/>

  </include>

  <!-- Run imu_filter_madgwick node -->
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="false"/>
    <param name="world_frame" value="enu"/>
    <remap from="/imu/data_raw" to="/camera/imu"/>
    <remap from="/imu/data" to="/rtabmap/imu"/>
  </node>

  <!-- Launch rtabmap -->
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="rtabmap_args" value="--udebug
                                    --delete_db_on_start
                                    --RGBD/LoopClosureReextractFeatures true
                                    --RGBD/LocalBundleOnLoopClosure true
                                    --Mem/ImagePreDecimation 0 
                                    --Mem/ImagePostDecimation 0 
                                    --Rtabmap/DetectionRate 0 
                                    --Rtabmap/ImageBufferSize 0 
                                    --Kp/DetectorStrategy 0 
                                    --Vis/BundleAdjustment 1
                                    --Vis/CorGuessMatchToProjection false
                                    --Vis/CorGuessWinSize 20
                                    --Vis/CorNNDR 0.6 
                                    --Vis/CorNNType 1
                                    --Vis/CorType 0
                                    --Vis/DepthAsMask true
                                    --Vis/EpipolarGeometryVar 0.02
                                    --Vis/EstimationType 1
                                    --Vis/FeatureType 0
                                    --Vis/ForwardEstOnly true
                                    --Vis/GridCols 1
                                    --Vis/GridRows 1
                                    --Vis/InlierDistance 0.1
                                    --Vis/Iterations 300
                                    --Vis/MaxDepth 3.0
                                    --Vis/MaxFeatures 1000
                                    --Vis/MinDepth 0.5
                                    --Vis/MinInliers 25
                                    --Vis/PnPFlags 0
                                    --Vis/PnPRefineIterations 0
                                    --Vis/PnPReprojError 2
                                    --Vis/RefineIterations 5
                                    --Vis/SubPixEps 0.02
                                    --Vis/SubPixIterations 0
                                    --Vis/SubPixWinSize 3
                                    --SURF/HessianThreshold 100
                                    --Grid/RangeMax=3
                                    --Grid/RayTracing=true
                                    --Grid/3D=false
                                    --Grid/MaxObstacleHeight=2
                                    "/>
    <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
    <arg name="rgb_topic" value="/camera/color/image_raw"/>
    <arg name="camera_info_topic" value="/camera/color/camera_info"/>
    <arg name="approx_sync" value="false"/>
    <arg name="wait_imu_to_init" value="true"/>
    <arg name="imu_topic" value="/rtabmap/imu"/>
    <arg name="rviz" value="true" />
    <arg name="frame_id" value="$(arg frame_id)" />
    <arg name="rviz_cfg"                value="$(arg rviz_cfg)" />
    <arg name="stereo_namespace"        value="$(arg stereo_namespace)"/>
    <arg name="left_image_topic"        value="$(arg left_image_topic)" />
    <arg name="right_image_topic"       value="$(arg right_image_topic)" />
    <arg name="left_camera_info_topic"  value="$(arg left_camera_info_topic)" />
    <arg name="right_camera_info_topic" value="$(arg right_camera_info_topic)" />
    <arg name="initial_pose"            value="0 0 0 0 0 0" />
    <arg name="stereo"                  value="true"/>

    <arg name="visual_odometry"         value="$(arg visual_odometry)"/>
    <arg name="odom_topic"              value="$(arg odom_topic)"/>
    <arg name="odom_frame_id"           value="$(arg odom_frame_id)"/>
    <!--arg name="odom_args"               value="$(arg rtabmap_args)"/-->
  </include>

  <!-- Launch darknet_ros -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch"/>

  <!-- Add a static transform from camera to odometry -->
  <!--node pkg="tf" type="static_transform_publisher" name="camera_to_odom_broadcaster" 
        args="0 0 0 0 0 0 camera odom 100"/-->

  <!--recode memory node-->
  <node pkg="project" type="test.py" name="test" output="screen">
  </node>

  
    
  <!--move_base-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="clearing_rotation_allowed" value="true" />
      <rosparam file="$(find project)/params/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
      <rosparam file="$(find project)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find project)/params/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find project)/params/global_costmap_params.yaml" command="load" /> 
      <rosparam file="$(find project)/params/base_local_planner_params.yaml" command="load" />
      <remap from="/cmd_vel" to="/cmd_vel" />
  </node>

</launch>